{% extends 'myapp/base.html' %}
{% load static from staticfiles %}




{% block linkscript %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}"/>
    <script type="text/javascript" charset="utf-8" src="{% static 'home/js/home.js' %}"></script>
{% endblock %}

{% block base %}
    <h1>asdhfoawh7</h1>
    <h1>asdhfoawh34</h1>
    <h1>asdhfo234</h1>
    <h1>百湖</h1>
    <h1>桃花影下飞神剑7</h1>
    <h1>碧海潮升按玉箫</h1>
    <h1>海内</h1>
    <h1>home</h1>
{% endblock %}
